/* ========= GERENCIAMENTO DE TELA ========= */
/* section.inicio{ display: none;} */
/* section.flag-1{ display: none;} */


/* ========= CARREGAR FONTS ========= */
@font-face {
     font-family: abel;
     src: url('../font/Abel-Regular.ttf');
}
@font-face {
  font-family: 'mticons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.ttf);
}

.mticons{
    font-family:mticons;
}

.faicons{
    font-family:faicons;
}

body{
    font-family:abel;
    color: white;
    background: #375766;
}
section, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

/* inicio */
section.inicio{
    text-align: center;
    background: url(../img/goal.png) no-repeat center bottom;
    background-size: 80% auto;
}
section.inicio h1, section.cantores-2, section.cantores-3{
    font-size: 4em;
    margin: 7vh 5vw 0 5vw;
}
section.inicio button{
    background: linear-gradient(to bottom, #f2f2f2, #e0dede);
    border: none;
    font-size: 2em;
    color: #787878;
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.5);   
    width: 80vw;
    margin: 10vw auto;
    padding: 20px 0;
    border-radius: 4px;
}


/* tela jogo*/
section.cantores{
    color: white;
}
.headCantores-1{
    height: 12vh;
    padding-top: 6vh;
    margin: 0vh auto 5vh auto;
    text-align: center;
    background-color: #e19c08;
}
.headCantores-1 h1{
    font-size: 7vh;
}
.headCantores-1 span, .headCantores-1 p{
    padding-top: 2vh;
    font-size: 4vh;
}
section.cantores ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5vh 5vw 5vh 5vw;
}
section.cantores div ul{
    padding: 3vh 0;
}
section.cantores div ul li{
    width: 25vw;
    height: 25vw;
    margin: 0vh 1vw 4vh 1vw;
}
section.cantores ul li img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid #e3d7cb;
    height: 100%;
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.5); 
    
}

section.cantores footer{
    width: 100vw;
    height: 14vh;
    background: #e19c08;
    color: white;
    font-size: 2em;
    text-align: center;
    bottom: 0;
    color: white;
    padding: 8px 0 0 0;
}




section.cantores footer ul{
    display:inline-flex;
    margin-top: 10px;
    justify-content: space-around;
}
section.cantores footer li.mticons{
    position: relative;
    padding-right:10vw; 
    padding-left: 10vw; 
}


/* final*/
section.cantores-2 button, section.cantores-3 button{
    background: linear-gradient(to bottom, #f2f2f2, #e0dede);
    border: none;
    font-size: .4em;
    color: #787878;
    width: 80vw;
    margin-top: 70vh;
    margin-left: 5vw;
    padding: 20px 0;
    border-radius: 4px;
}